.customize-quote-wizard .wizard-head.create-password-head {
    $horziontal-outer-gutter: 15px;
    align-items: left;
    justify-content: flex-start;
    padding-top: 40px;
    padding-bottom: 60px;
    padding-left: Max($horziontal-outer-gutter, env(safe-area-inset-left, $horziontal-outer-gutter));
    padding-right: Max($horziontal-outer-gutter, env(safe-area-inset-right, $horziontal-outer-gutter));
    @include media-breakpoint-down(sm) {
        &:after {
            background: $mono-white;
        }
    }
    @include media-breakpoint-up(md) {
        min-height: 400px;
        margin-bottom: -190px;
        padding-bottom: 0;
    }
}

.create-password-common-container {
    @include make-container(0);
    max-width: 1070px;
}

.create-password__error {
    padding: 20px 25px;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: $font-size-md;
}

.create-password__password-col,
.create-password__my-acc-col {
    flex-grow: 1;
}

.create-password__password-col {
    @include media-breakpoint-up(md) {
        flex-basis: 60%;
        max-width: 660px;
    }
}

.create-password__my-acc-col {
    padding-top: 36px;
    @include media-breakpoint-up(md) {
        flex-basis: 40%;
        max-width: 440px;
        padding-top: 0;
    }
}

.create-password-container {
    margin-bottom: 40px;
}

.create-password__password-wrapper {
    background: $mono-white;
    padding: 15px 20px 30px 20px;
    @include media-breakpoint-up(md) {
        padding: 30px;
    }
}

.create-password__password-wrapper__container {
    @include media-breakpoint-up(md) {
        max-width: 380px;
    }
}

.create-password__password__header {
    margin-bottom: 20px;
}

.create-password__strength-bar {
    display: block;
    margin-left: 6px;
    position: relative;
    border-top-width: 3px;
    border-top-style: solid;

    &--set0, &--set1 {
        border-top-color: $blue-light;
        width: 20%;
    }

    &--set2 {
        border-top-color: $purple-secondary;
        width: 50%;
    }

    &--set3, &--set4 {
        border-top-color: $mint-light;
        width: 80%;
    }
}

.create-password__current-strength {
    position: relative;
    text-align: center;
    padding: 15px;
    border-radius: 2px;
    margin-top: 8px;
    font-weight: 500;
    width: max-content;

    &:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        border: 10px solid transparent;
        right: 47%;
        top: -17px;
    }

    &--0, &--1 {
        background: $blue-light;
        left: calc(100% - 79px);
        &:after {
            border-bottom: 10px solid $blue-light;
            right: 47%;
        }
    }

    &--2 {
        background: $purple-secondary;
        color: $mono-white;
        left: calc(100% - 26px);
        &:after {
            border-bottom: 10px solid $purple-secondary;
            right: 35%;
        }
    }

    &--3, &--4 {
        background: $mint-light;
        left: calc(100% - 38px);
        &:after {
            border-bottom: 10px solid $mint-light;
            right: 41%;
        }
    }
}


.create-password__description {
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 20px;

    &--0, &--1 {
        background: $blue-light;
    }

    &--2 {
        background: $purple-secondary;
        color: $mono-white;
    }

    &--3, &--4 {
        background: $mint-light;
    }
}

.input-group.create-password__input {
    border: solid 1px $mono-light-steel;
    border-radius: 6px;

    .input-group-prepend {
        margin-right: 2px;
    }

    .input-group-text {
        border: none;
        background-color: $mono-white;
    }

    input {
        border-width: 0;

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
}

.create-password__info-card {
    margin-top: 20px;

    p {
        margin-bottom: 5px;
    }
}

.create-password__info-card__list {
    padding-inline-start: 6px;
    @include media-breakpoint-up(md) {
        padding-inline-start: 15px;
    }

    li {
        & + li {
            margin-top: 0px;
        }

        &::marker {
            color: $midnight-plum;
        }

        span {
            margin-left: -6px;
        }
    }
}

.create-password__continue-btn {
    height: 50px;
    @include media-breakpoint-up(md) {
        width: 177px;
    }
}

.create-password__my-acc-container {
    background: $mono-white;
    padding: 30px;
}

.create-password__my-acc__header {
    font-size: $hd-font-size-h2;
    margin-bottom: 12px;
}

.create-password__my-acc__subheader {
    margin-bottom: 12px;
}
