.i-card-container {
    &.right {
        background-color: $gray-light-15; 
    }

    &.left {
        background-color: $midnight-prussian-blue;

        img {
            grid-column-start: 1;
            padding-right: 13px;
        }

        p {
            grid-column-start: 2;
        }
    }
}
