.breakdown-monthly__custom-content-text-icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .fa-sync {
        font-size: 24px;
        margin-right: 10px;
    }
}
