.tick-list-item-container {
    display: flex;
    margin-top: 20px;
}

.tick-list-item__content {
    padding-left: 12px;
    text-align: left;
    margin-top: 3px;
}

.tick-list-item__description {
    margin-bottom: 0;
    margin-top: 8px;
}
