.selBox {
    width: 120px !important;
    height: 35px !important;

    select {
        background: $white-fill;
        border: 1px solid $black-color;
        box-sizing: border-box;
        border-radius: 5px;
        font-style: normal;
        font-weight: 700;
        font-size: $font-size-xxl;
        line-height: 39px;
        color: $white-color;

        @include media-breakpoint-down(md) {
            font-size: 24px;
            line-height: 27px;
        }

        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;

        select::-ms-expand {
            display: none;
        }

        background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSdibGFjaycgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyB3aWR0aD0nMjQnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTcgMTBsNSA1IDUtNXonLz48cGF0aCBkPSdNMCAwaDI0djI0SDB6JyBmaWxsPSdub25lJy8+PC9zdmc+);
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-position-y: 8px;
        padding-right: 2rem;
    }

    select.minimal {
        width: 113px !important;
        // height: 35px !important;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0 0 0 5px;
        vertical-align: middle;
    }
}
