.hd-radio-button-list {
    display: flex;
    flex-direction: column;
}

.hd-radio-button-list__item {
    background-color: $midnight-prussian-blue;
    border: 1px solid $info-color;
    padding: 10px 10px 10px 20px;
    border-radius: 6px;
    flex-direction: row-reverse;
    margin-bottom: 20px;
    .hd-image-radio-btn__header-value {
        padding: 0 20px;
        text-align: left;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.35;
    }
    .hd-image-radio-btn_input {
        height: 24px;
        width: 24px;
        border: 2px solid $mono-white;

        &:checked:after {
            height: 20px;
            width: 20px;
            border: 3px solid $blue-dark-2;
        }
    }
    &.selected {
        background-color: $blue-dark-2;
    }
}
