$update-inception-date-grid-gutter: 7px;
$update-inception-date-grid-gutter-small: 2px;

.hastings-modal-content{
    max-height: 100vh;
    overflow: auto;
}

.update-inception-date {
    &__date-input-row {
        margin-left: -$update-inception-date-grid-gutter;
        margin-right: -$update-inception-date-grid-gutter;
    }

    &__date-input-col {
        
        &:not(:last-child) {
            max-width: 30%;
            padding-left: $update-inception-date-grid-gutter;
            padding-right: $update-inception-date-grid-gutter-small;
        }

        &:last-child {
            padding-left: $update-inception-date-grid-gutter;
            padding-right: $update-inception-date-grid-gutter;
        }

        .input-group {
            border: 1px solid $mono-light-steel;
            box-shadow: none;
        }
    
        input {            
            @include media-breakpoint-up(tiny) {
                padding: 18px 20px;
            }

            &::placeholder {
                font-weight: 600;
            }
        }
    }

    &__invalid-field {
        .message {
            font-weight: normal;
        }
    }
    
    .hd-btn {
        height: 50px;
    }

    &__car-reg-ribbon{
        display: inline-block;
        border-radius: 2px;
        overflow: hidden;
        background-color: $midnight-reg;
        text-transform: uppercase;
        border-radius: 2px;
        padding: 1px 6px;
        margin-right: 12px;
        font-family: CharlesWright-Bold;
    }

    &__car-date-question{
        font-weight: bold;
        font-size: 18px;
    }
    
    &__car-model{
        font-weight: bold;
        text-transform: capitalize;
    }
    
}


